{% extends "base.html" %}
{% block content %}

<div class="day-header">
    <h2>{{ current_date }}</h2>
</div>

<div class="activities-with-total">
<div class="activities-column">
    {% set create_day = current_date %}
    {% set allow_start = true %}
    {% set show_delete = true %}
    {% if activities %}
        {% for activity in activities %}
            {% include 'includes/_activity_row.html' %}
        {% endfor %}
    {% endif %}

    {% include 'includes/_activity_create_row.html' %}

    <template class="new-activity-row-template">
        {% include 'includes/_activity_create_row.html' %}
    </template>
</div>
<div class="total-time-container">
    <span class="total-time">{{ total_seconds | format_seconds }}</span>
</div>
</div>
{% endblock %}
